<!doctype html>
<html lang="en">
<title>Local Weather</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ css_url }}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="static/jquery-3.5.1.min.js"></script>
<script language="javascript">
    function load_weather() {
        $.ajax({
            url: "/inner",
            success: function (result) {
                $("body").html(result);
            },
        });
        setTimeout(load_weather, 30 * 1000);
    }
</script>

<body class="{{ daynight }}" onload="load_weather()">
    Loading...
</body>

</html>